$margin-default-size: 5;
$padding-items: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

.margin {
  @each $margin-item in $padding-items {
    &-#{$margin-default-size*$margin-item} {
      margin: #{$margin-default-size*$margin-item}px;
    }
    &-t-#{$margin-default-size*$margin-item} {
      margin-top: #{$margin-default-size*$margin-item}px ;
    }
    &-b-#{$margin-default-size*$margin-item} {
      margin-bottom: #{$margin-default-size*$margin-item}px ;
    }
     &-l-#{$margin-default-size*$margin-item} {
      margin-left: #{$margin-default-size*$margin-item}px ;
    }
     &-r-#{$margin-default-size*$margin-item} {
      margin-right: #{$margin-default-size*$margin-item}px ;
    }
     &-horizontal-#{$margin-default-size*$margin-item} {
      margin:0  #{$margin-default-size*$margin-item}px ;
    }
     &-vertical-#{$margin-default-size*$margin-item} {
      margin: #{$margin-default-size*$margin-item}px  0;
    }
  }
}