$padding-default-size: 5;
$padding-items: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

.padding {
  @each $padding-item in $padding-items {
    &-#{$padding-default-size*$padding-item} {
      padding: #{$padding-default-size*$padding-item}px;
    }
    &-t-#{$padding-default-size*$padding-item} {
      padding-top: #{$padding-default-size*$padding-item}px;
    }
    &-b-#{$padding-default-size*$padding-item} {
      padding-bottom: #{$padding-default-size*$padding-item}px;
    }
    &-l-#{$padding-default-size*$padding-item} {
      padding-left: #{$padding-default-size*$padding-item}px;
    }
    &-r-#{$padding-default-size*$padding-item} {
      padding-right: #{$padding-default-size*$padding-item}px;
    }
    &-horizontal-#{$padding-default-size*$padding-item} {
      padding: 0 #{$padding-default-size*$padding-item}px;
    }
    &-vertical-#{$padding-default-size*$padding-item} {
      padding: #{$padding-default-size*$padding-item}px 0;
    }
  }
}