$font-url: '../Fonts';
$font-family: 'roboto';
$font-name: 'Roboto';
$font-type: 'ttf';
$font-format: 'truetype';

@font-face {
  font-family: $font-family;
  src: url('#{$font-url}/#{$font-name}.#{$font-type}') format($font-format);
}

@font-face {
  font-family: '#{$font-family}-bold';
  src: url('#{$font-url}/#{$font-name}-Bold.#{$font-type}') format($font-format);
}

@font-face {
  font-family: '#{$font-family}-light';
  src: url('#{$font-url}/#{$font-name}-Light.#{$font-type}') format($font-format);
}



