$input_border_active: .2rem solid #00802a;
$input_border_radius: .6rem;
$input_background_color: rgba(255, 243, 205, 0.4);
$input_font_size: 2rem;
$input_height: 5rem;


.search {
  width: 100%;
  position: relative;
  &_suggestion-wrapper {
    position: absolute;
    background-color: blanchedalmond;
    //padding: 10px;
    color: darkred;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 0 0 8px 8px;
    display: none;
    overflow: auto;
    max-height: 250px;
    top: 100%;
    left: 0;
    right:0;

    &-active{
      display: block;
    }

    &_item{
      border-bottom: .2rem solid lightblue;
      padding: 1rem .7rem;
      cursor: pointer;
      transition: all .4s linear;
      &:hover{
        background-color: #65a1d0;
        font-size:1.8rem;
      }
    }
  }

  &_inp {

    width: 100%;
    border-radius: $input_border_radius;
    outline: none;
    background-color: $input_background_color;
    font-size: $input_font_size;
    border: none;
    height: $input_height;

    &:focus {
      border: $input_border_active;
      border-radius:6px 6px 0 0 ;
    }
  }
}